<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contact.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contact.description %>
</p>

<p>
  <strong>Review:</strong>
  <%= @contact.review %>
</p>

