<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @animal.role %>
</p>

<p>
  <strong>Responsible Veterinar:</strong>
  <%= @animal.user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @animal.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @animal.gender %>
</p>