<p id="notice"><%= notice %></p>

<p>
  <strong>Barn cleandate:</strong>
  <%= @barn.barn_cleandate %>
</p>

<p>
  <strong>User:</strong>
  <%= @barn.user_id %>
</p>

<p>
  <strong>Equipment issing:</strong>
  <%= @barn.equipment_issing %>
</p>

<p>
  <strong>Descrption:</strong>
  <%= @barn.descrption %>
</p>

<%= link_to 'Edit', edit_barn_path(@barn) %> |
<%= link_to 'Back', barns_path %>
