<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @report.role %>
</p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @report.status %>
</p>

<p>
  <strong>Image:</strong>
  <%= @report.image %>
</p>

<p>
  <strong>Review:</strong>
  <%= @report.review %>
</p>

<p>
  <strong>Findings:</strong>
  <%= @report.findings %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @report.animal.id %>
</p>