<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Paweł 'kilab' Balicki - kilab.pl" />
  <title>Admin Page</title>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/assets/css/navi.css" media="screen" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script type="text/javascript" src="/assets/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $(".box .h_title").not(this).next("ul").hide("normal");
      $(".box .h_title").not(this).next("#home").show("normal");
      $(".box").children(".h_title").click( function() { $(this).next("ul").slideToggle(); });
    });
  </script>
</head>
<body>
  <div class="wrap">
    <div id="header">
      <%= render 'layouts/navigation' %>
    </div>
    <div id="content">
      <div id="main">     
        <div class="clear"></div>
        <div class="full_w">
          <div class="h_title"> Welcome, <%= current_user.role.capitalize %></div>
          <div class="grid_7">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>